:root {
  --mainBrown: #4b3f72;
  --mainYellow: #ff9b42;
  --mainGrey: #cac4c3;
  --mainWhite: #fff;
  --mainDark: #090c08;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--mainYellow);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}
@media screen and (min-width: 576px) {
  .cart-icon {
    margin-left: 30px;
  }
}
