:root {
  --mainBrown: #4b3f72;
  --mainYellow: rgb(255, 154, 66);
  --mainGrey: #cac4c3;
  --mainWhite: #fff;
  --mainDark: #090c08;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow {
  color: var(--mainYellow);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}
@media screen and (min-width: 576px) {
  .cart-icon,
  .nav-item {
    margin-left: 30px;
  }
  .navbar-nav {
    padding-right: 100px;
  }
}
.default-background,
.about-background {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(255, 154, 66, 0.5), rgba(255, 154, 66, 0.5));
}
.about-background {
  min-height: 60vh;
}
.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.btn-yellow:hover {
  background: var(--mainYellow);
  color: var(--mainBrown);
}
.footer {
  background: var(--mainDark);
}
